<form role="form" name="form">
  <script cam-script type="text/form-script">
    camForm.on('form-loaded', function() {
          camForm.variableManager.fetchVariable('int_customerId');
          camForm.variableManager.fetchVariable('int_insurantId');
          camForm.variableManager.fetchVariable('int_customerEntry');
          camForm.variableManager.fetchVariable('int_insurantFirstName');
          camForm.variableManager.fetchVariable('int_insurantName');
          camForm.variableManager.fetchVariable('int_insurantBirthdate');
          camForm.variableManager.fetchVariable('int_insurantSex');
          camForm.variableManager.fetchVariable('int_insurantWeight');
          camForm.variableManager.fetchVariable('int_insurantSize');
          camForm.variableManager.fetchVariable('int_isPremiumClaim');
          camForm.variableManager.fetchVariable('int_diseaseDescription');
    });
    camForm.on('variables-restored', function() {
      $scope.int_customerId = camForm.variableManager.variableValue('int_customerId');
      $scope.int_insurantId = camForm.variableManager.variableValue('int_insurantId');
      $scope.int_customerEntry = camForm.variableManager.variableValue('int_customerEntry');
      $scope.int_insurantFirstName = camForm.variableManager.variableValue('int_insurantFirstName');
      $scope.int_insurantName = camForm.variableManager.variableValue('int_insurantName');
      $scope.int_insurantBirthdate = camForm.variableManager.variableValue('int_insurantBirthdate');
      $scope.int_insurantSex = camForm.variableManager.variableValue('int_insurantSex');
      $scope.int_insurantSize = camForm.variableManager.variableValue('int_insurantSize');
      $scope.int_insurantWeight = camForm.variableManager.variableValue('int_insurantWeight');
      $scope.int_isPremiumClaim = camForm.variableManager.variableValue('int_isPremiumClaim');
      $scope.int_diseaseDescription = camForm.variableManager.variableValue('int_diseaseDescription');
      console.log("setting variables to scope");
    });
  </script>
  <h2>Antragszusammenfassung</h2>

  <table>

    <tr>
      <td>Kundennummer:</td>
      <td>{{ int_customerId }}</td>
    </tr>

    <tr>
      <td>Eintrittsdatum:</td>
      <td>{{int_customerEntry}}</td>
    </tr>

    <tr>
      <td>Versicherungsnummer:</td>
      <td>{{int_insurantId}}</td>
    </tr>
    
  </table>

  <h2>Kundendaten:</h2>

  <data>
    <strong>
      <span ng-if="int_insurantSex == 'weiblich'">Frau</span>
      <span ng-if="int_insurantSex == 'maennlich'">Herr</span>
      {{int_insurantFirstName}} {{int_insurantName}}
    </strong><br>
    <table>

      <tr>
        <td>Geburtsdatum:</td>
        <td>{{ int_insurantBirthdate }}</td>
      </tr>

      <tr>
        <td>Größe:</td>
        <td>{{int_insurantSize}}cm</td>
      </tr>

      <tr>
        <td>Gewicht:</td>
        <td>{{int_insurantWeight}}kg</td>
      </tr>

    </table>

  </data>

  <h2>Tarifauswahl:</h2>
  <table>

    <tr>
      <td>Tarif:</td>
      <td>
        <span ng-if="int_isPremiumClaim">Premium</span>
        <span ng-if="!int_isPremiumClaim">Basis</span>
      </td>
    </tr>

  </table>

  <h2>Vorerkrankung:</h2>
  <table>

    <tr>
      <td>Krankheit:</td>
      <td>{{ int_diseaseDescription }}</td>
    </tr>

  </table>

  <h2>Weiterverarbeitung</h2>

  Ist der Antrag vollständig?

  <div class="form-group">
    <input type="checkbox" cam-variable-name="int_isClaimComplete" cam-variable-type="Boolean" />
  </div>

</form>
