<form role="form" name="variablesForm">
    <script cam-script type="text/form-script">
    camForm.on('form-loaded', function() {
          camForm.variableManager.fetchVariable('int_customerId');
          camForm.variableManager.fetchVariable('int_insurantId');
          camForm.variableManager.fetchVariable('int_insurantFirstName');
          camForm.variableManager.fetchVariable('int_insurantName');
          camForm.variableManager.fetchVariable('int_insurantSex');
          camForm.variableManager.fetchVariable('int_isPremiumClaim');
          camForm.variableManager.fetchVariable('int_diseaseDescription');
          camForm.variableManager.fetchVariable('int_insurantAge');
          camForm.variableManager.fetchVariable('int_claimRiskFactorAge');
          camForm.variableManager.fetchVariable('int_claimBMI');
          camForm.variableManager.fetchVariable('int_claimRiskFactorBMI');
          camForm.variableManager.fetchVariable('int_claimRiskFactorMedicalFactor');
          camForm.variableManager.fetchVariable('int_claimRiskCategoryMedicalHistory');
    });
    camForm.on('variables-restored', function() {
      $scope.int_customerId = camForm.variableManager.variableValue('int_customerId');
      $scope.int_insurantId = camForm.variableManager.variableValue('int_insurantId');
      $scope.int_insurantFirstName = camForm.variableManager.variableValue('int_insurantFirstName');
      $scope.int_insurantName = camForm.variableManager.variableValue('int_insurantName');
      $scope.int_insurantSex = camForm.variableManager.variableValue('int_insurantSex');
      $scope.int_isPremiumClaim = camForm.variableManager.variableValue('int_isPremiumClaim');
      $scope.int_diseaseDescription = camForm.variableManager.variableValue('int_diseaseDescription');
      $scope.int_insurantAge = camForm.variableManager.variableValue('int_insurantAge');
      $scope.int_claimRiskFactorAge = camForm.variableManager.variableValue('int_claimRiskFactorAge');
      $scope.int_claimBMI = camForm.variableManager.variableValue('int_claimBMI');
      $scope.int_claimRiskFactorBMI = camForm.variableManager.variableValue('int_claimRiskFactorBMI');
      $scope.int_claimRiskFactorMedicalFactor = camForm.variableManager.variableValue('int_claimRiskFactorMedicalFactor');
      $scope.int_claimRiskCategoryMedicalHistory = camForm.variableManager.variableValue('int_claimRiskCategoryMedicalHistory');
      console.log("setting variables to scope");
    });


    </script>


    <div class="row">

        <div class="col-xs-6">
            <h2>Ablehnungsbegründung</h2>

            <!-- Ablehnungsnachricht -->
            Sehr geehrter
            <span ng-if="int_insurantSex == 'weiblich'">Frau</span>
            <span ng-if="int_insurantSex == 'maennlich'">Herr</span>
            {{int_insurantFirstName}} {{int_insurantName}},
            <br><br>
            Es tut uns außerordentlich leid, Ihnen mitteilen zu müssen, dass wir Ihnen aufgrund
            <div class="form-group">
                <label for="ablehnungsnachricht"></label>
                <div class="controls">
        <textarea class="form-control"
                  cam-variable-name="ablehnungsnachricht"
                  cam-variable-type="String"
                  placeholder="Grund..."
                  rows="10"></textarea>
                </div>
            </div>
            keinen passenden Tarif bei uns anbieten können.
            <br><br>
            Mit freundlichen Grüßen
            <br><br>
            Ihre Versicherungsgesellschaft B
        </div>

        <div class="col-xs-6">
            <h2>Zusammenfassung</h2>

            <!-- Antragszusammenfassung -->

            <table>

                <tr>
                    <td>Kundennummer:</td>
                    <td>{{ int_customerId }}</td>
                </tr>

                <tr>
                    <td>Versicherungsnummer:</td>
                    <td>{{ int_insurantId }}</td>
                </tr>

            </table>

            <h4>Ablehnungsgrund:</h4>

            <table>
                <tr>
                    <td>Tarif:</td>
                    <td>
                        <span ng-if="int_isPremiumClaim">Premium</span>
                        <span ng-if="!int_isPremiumClaim">Basis</span>
                    </td>
                </tr>
                <tr>
                    <td>Risikofaktor Alter:</td>
                    <td>{{int_claimRiskFactorAge}} (Alter: {{int_insurantAge}})</td>
                </tr>

                <tr>
                    <td>Risikofaktor BMI:</td>
                    <td>{{int_claimRiskFactorBMI}} (BMI: {{int_claimBMI}})</td>
                </tr>

                <tr>
                    <td>Risikofaktor Krankehistorie:</td>
                    <td>{{int_claimRiskFactorMedicalFactor}} (Risikokategorie: {{int_claimRiskCategoryMedicalHistory}}, Vorerkrankung: {{int_diseaseDescription}})
                    </td>
                </tr>

            </table>

        </div>

    </div>

</form>
