<form role="form" name="variablesForm">
  <script cam-script type="text/form-script">
    camForm.on('form-loaded', function() {
      camForm.variableManager.fetchVariable('int_insurantFirstName');
      camForm.variableManager.fetchVariable('int_insurantName');
      camForm.variableManager.fetchVariable('int_insurantSex');
      camForm.variableManager.fetchVariable('ablehnungsnachricht');

    });
    camForm.on('variables-restored', function() {
      $scope.int_insurantFirstName = camForm.variableManager.variableValue('int_insurantFirstName');
      $scope.int_insurantName = camForm.variableManager.variableValue('int_insurantName');
      $scope.int_insurantSex = camForm.variableManager.variableValue('int_insurantSex');
      $scope.ablehnungsnachricht = camForm.variableManager.variableValue('ablehnungsnachricht');
      console.log("setting variables to scope");
    });
  </script>


  <div class="row">

    <div class="col-xs-6">
      <h2>Ihr Antrag wurde abgelehnt</h2>

      <!-- Ablehnungsnachricht -->
      Sehr geehrter
      <span ng-if="int_insurantSex == 'weiblich'">Frau</span>
      <span ng-if="int_insurantSex == 'maennlich'">Herr</span>
      {{int_insurantFirstName}} {{int_insurantName}},
      <br><br>
      Es tut uns außerordentlich leid, Ihnen mitteilen zu müssen, dass wir Ihnen aufgrund
      {{ablehnungsnachricht}}
      keinen passenden Tarif bei uns anbieten können.
      <br><br>
      Mit freundlichen Grüßen
      <br><br>
      Ihre Versicherungsgesellschaft B
    </div>


  </div>


</form>
