<h3>Test Form</h3>
<form role="form"
      name="variablesForm">


<div class="row">

  <div class="col-xs-6">
    <h2>Kundendaten</h2>

    <!-- Kundennummer -->
    <div class="form-group">
      <label for="kundennr">Kundennummer</label>
      <div class="controls">
        <input class="form-control"
               required
               type="number"
               cam-variable-name="kundennr"
               cam-variable-type="Long"
               placeholder="123456789"
               ng-minlength="2"
               ng-maxlength="25" />
      </div>
    </div>

    <!-- Eintrittsdatum -->
    <label>Eintrittsdatum</label>
    <p class="input-group">


      <input type="text"
             cam-variable-name="eintritt"
             cam-variable-type="Date"
             class="form-control"
             uib-datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
             is-open="dateFieldOpened" />

      <span class="input-group-btn">
    <button type="button"
            class="btn btn-default"
            ng-click="open($event)">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span>
    </p>

    <!-- Versicherter ID -->
    <div class="form-group">
      <label for="versicherter_id">Versicherungsnummer</label>
      <div class="controls">
        <input class="form-control"
               required
               type="number"
               cam-variable-name="versicherter_id"
               cam-variable-type="Long"
               placeholder="123456789"
               ng-minlength="2"
               ng-maxlength="25" />
      </div>
    </div>

    <!-- TODO: Automatic generation (Idea: DB -> List/Enum -> Form -> Script) -->
    <h2>Vorerkrankungen</h2>

    <!-- Vorerkrankungen -->
    <div class="form-group">
      <label for="vorerkrankung">Vorerkrankung</label>
      <div class="controls">

        <!--select box -->
        <select class="form-control"
                cam-variable-name="vorerkrankung"
                cam-variable-type="String">
          <option value="weisheitszaehne">Weisheitszähne</option>
          <option value="raucherlunge">Raucherlunge</option>
          <option value="fettleber">Fettleber</option>
          <option value="herzfehler">Herzfehler</option>
        </select>

      </div>
    </div>

    <h2>Tarifauswahl</h2>

    <!-- Tarif -->
    <div class="form-group">
      <label for="tarif">Tarifart</label>
      <div class="controls">

        <!--select box -->
        <select class="form-control"
                cam-variable-name="tarif"
                cam-variable-type="String">
          <option value="basis">Basis</option>
          <option value="premium">Premium</option>
        </select>

      </div>
    </div>

    <!-- TODO: nh-change Script für Informationsfenster -->
    <!-- Hinweisfenster Tarif -->


  </div>
  <div class="col-xs-6">
    <h2>Versicherungsdaten</h2>



    <!-- Vorname -->
    <div class="form-group">
      <label for="vorname">Vorname</label>
      <div class="controls">
        <input class="form-control"
               required
               type="text"
               cam-variable-name="vorname"
               cam-variable-type="String"
               placeholder="Max"
               ng-minlength="2"
               ng-maxlength="20" />
      </div>
    </div>

    <!-- Nachname -->
    <div class="form-group">
      <label for="nachname">Nachname</label>
      <div class="controls">
        <input class="form-control"
               required
               type="text"
               cam-variable-name="nachname"
               cam-variable-type="String"
               placeholder="Mustermann"
               ng-minlength="2"
               ng-maxlength="20" />
      </div>
    </div>

    <!-- Geburtsdatum -->
    <label>Geburtsdatum</label>
    <p class="input-group">

      <input type="dateFieldOpened"

             cam-variable-name="geburtsdatum"
             cam-variable-type="Date"
             class="form-control"
             uib-datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
             is-open="test" />

      <span class="input-group-btn">
    <button type="button"
            class="btn btn-default"
            ng-click="testopen($event)">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span>
    </p>

    <!-- Geschlecht -->
    <div class="form-group">
      <label for="geschlecht">Geschlecht</label>
      <div class="controls">

        <!--select box -->
        <select class="form-control"
                cam-variable-name="geschlecht"
                cam-variable-type="String">
          <option value="maennlich">Männlich</option>
          <option value="weiblich">Weiblich</option>
        </select>

      </div>
    </div>

    <!-- Größe -->
    <div class="form-group">
      <label for="groesse">Größe</label>
      <div class="controls">
        <input class="form-control"
               required
               type="number"
               cam-variable-name="groesse"
               cam-variable-type="Double"
               placeholder="170cm"
               ng-minlength="2"
               ng-maxlength="25" />
      </div>
    </div>

    <!-- Gewicht -->
    <div class="form-group">
      <label for="gewicht">Gewicht</label>
      <div class="controls">
        <input class="form-control"
               required
               type="number"
               cam-variable-name="gewicht"
               cam-variable-type="Double"
               placeholder="80kg"
               ng-minlength="2"
               ng-maxlength="25" />
      </div>
    </div>

    <!-- TODO Addresse -->
    <div class="form-group">
      <label for="inputAddress">Addresse</label>
      <div class="controls">
        <textarea class="form-control"
                  cam-variable-name="address"
                  cam-variable-type="String"
                  rows="4"></textarea>
      </div>
    </div>

  </div>

</div>
  <script cam-script type="text/form-script">
  $scope.open = function($event) {
    $event.preventDefault();
    $event.stopPropagation();

    $scope.dateFieldOpened = true;
  };
   $scope.testopen = function($event) {
    $event.preventDefault();
    $event.stopPropagation();

    $scope.test = true;
  };




 </script>


</form>
